이 문서는 https://psystat.tistory.com/117 를 기반으로 만들어졌습니다.

In [15]:
import OpenDartReader
import pandas as pd
api_key = '6655d5a62b916e96636cab74f8e7e0b05692b825'
dart = OpenDartReader(api_key)

## 삼전 2021년 1분기 데이터 정리

In [21]:
# 2021년 1분기에 저희가 원하는 표를 만들기 위해서는 2020년 2~4분기, 2021년 1분기가 필요합니다.
fs_2021_1Q = dart.finstate_all(corp='187870', bsns_year='2021', fs_div = 'OFS', reprt_code=11013) 
#fs_2020_1Q = dart.finstate_all(corp='005930', bsns_year='2020', fs_div='CFS', reprt_code=11013) 
#fs_2021_1Q = dart.finstate_all(corp='005930', bsns_year='2021', fs_div='CFS', reprt_code=11013) 
fs_2021_1Q

,rcept_no,reprt_code,bsns_year,corp_code,sj_div,sj_nm,account_id,account_nm,account_detail,thstrm_nm,thstrm_amount,frmtrm_nm,frmtrm_amount,ord,thstrm_add_amount,frmtrm_q_nm,frmtrm_q_amount,frmtrm_add_amount
0,20210514000169,11013,2021,00624509,BS,재무상태표,ifrs-full_CurrentAssets,유동자산,-,제 20 기 1분기말,132224672982,제 19 기말,129997417248,1,NaN,NaN,NaN,NaN
1,20210514000169,11013,2021,00624509,BS,재무상태표,ifrs-full_CashAndCashEquivalents,현금및현금성자산,-,제 20 기 1분기말,73174001397,제 19 기말,68385060173,2,NaN,NaN,NaN,NaN
2,20210514000169,11013,2021,00624509,BS,재무상태표,ifrs-full_TradeAndOtherCurrentReceivables,매출채권 및 기타유동채권,-,제 20 기 1분기말,13408825198,제 19 기말,9903288115,3,NaN,NaN,NaN,NaN
3,20210514000169,11013,2021,00624509,BS,재무상태표,ifrs-full_OtherCurrentFinancialAssets,기타유동금융자산,-,제 20 기 1분기말,15365236884,제 19 기말,15305236884,4,NaN,NaN,NaN,NaN
4,20210514000169,11013,2021,00624509,BS,재무상태표,dart_OtherCurrentAssets,기타유동자산,-,제 20 기 1분기말,2237422561,제 19 기말,4030229450,5,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,20210514000169,11013,2021,00624509,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|기타자본구성요소 [member],제 20 기 1분기,-1071596008,NaN,NaN,7,NaN,제 19 기 1분기,-937488917,NaN
139,20210514000169,11013,2021,00624509,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|기타포괄손익누계액 [member],제 20 기 1분기,4021678264,NaN,NaN,7,NaN,제 19 기 1분기,3981678807,NaN
140,20210514000169,11013,2021,00624509,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|이익잉여금 [member],제 20 기 1분기,82471788501,NaN,NaN,7,NaN,제 19 기 1분기,46829928911,NaN
141,20210514000169,11013,2021,00624509,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|자본금 [member],제 20 기 1분기,3518304500,NaN,NaN,7,NaN,제 19 기 1분기,3391000000,NaN
142,20210514000169,11013,2021,00624509,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|자본잉여금 [member],제 20 기 1분기,16906579430,NaN,NaN,7,NaN,제 19 기 1분기,16906579430,NaN

In [38]:
fs_2021_1Q.loc[fs_2021_1Q['sj_div'].isin(['BS']) & fs_2021_1Q['account_id'].isin(['ifrs-full_Equity']), ]

,rcept_no,reprt_code,bsns_year,corp_code,sj_div,sj_nm,account_id,account_nm,account_detail,thstrm_nm,thstrm_amount,frmtrm_nm,frmtrm_amount,ord,thstrm_add_amount,frmtrm_q_nm,frmtrm_q_amount,frmtrm_add_amount
51,20210517001185,11013,2021,00126380,BS,재무상태표,ifrs-full_Equity,자본총계,-,제 53 기 1분기말,274268591000000,제 52 기말,275948016000000,54,NaN,NaN,NaN,NaN

In [39]:
fs_2021_1Q.loc[fs_2021_1Q['sj_div'].isin(['BS']) & fs_2021_1Q['account_id'].isin(['ifrs-full_Liabilities']), ]

,rcept_no,reprt_code,bsns_year,corp_code,sj_div,sj_nm,account_id,account_nm,account_detail,thstrm_nm,thstrm_amount,frmtrm_nm,frmtrm_amount,ord,thstrm_add_amount,frmtrm_q_nm,frmtrm_q_amount,frmtrm_add_amount
41,20210517001185,11013,2021,00126380,BS,재무상태표,ifrs-full_Liabilities,부채총계,-,제 53 기 1분기말,118557683000000,제 52 기말,102287702000000,43,NaN,NaN,NaN,NaN

In [40]:
fs_2021_1Q.loc[fs_2020_3Q['sj_div'].isin(['IS']) & fs_2021_1Q['account_id'].isin(['ifrs-full_ProfitLossAttributableToOwnersOfParent']), ]

,rcept_no,reprt_code,bsns_year,corp_code,sj_div,sj_nm,account_id,account_nm,account_detail,thstrm_nm,thstrm_amount,frmtrm_nm,frmtrm_amount,ord,thstrm_add_amount,frmtrm_q_nm,frmtrm_q_amount,frmtrm_add_amount
67,20210517001185,11013,2021,00126380,IS,손익계산서,ifrs-full_ProfitLossAttributableToOwnersOfParent,지배기업의 소유주에게 귀속되는 당기순이익(손실),-,제 53 기 1분기,7092786000000,NaN,NaN,15,7092786000000,제 52 기 1분기,4889599000000,4889599000000

In [42]:
# 자본과 부채는 재무상태표에서 당기금액('thstrm_amount') 값을 가져오면 됨
equity = int(fs_2021_1Q.loc[fs_2021_1Q['sj_div'].isin(['BS']) & fs_2021_1Q['account_id'].isin(['ifrs-full_Equity']), 'thstrm_amount'].replace(",", "")) # 당기자본(자본총계)
liability = int(fs_2021_1Q.loc[fs_2021_1Q['sj_div'].isin(['BS']) & fs_2020_1Q['account_id'].isin(['ifrs-full_Liabilities']), 'thstrm_amount'].replace(",", "")) # 당기부채(부채총계)
assets = equity + liability # 자산총계
print(assets)

276311533000000

In [43]:
# 2019 4분기 ~ 2020 3분기까지의 당기순이익의 합을 구하려면 2019년 4분기 당기순이익과 2020년 1분기 ~ 3분기 당기순이익의 합을 알아여함
# 2020년 1분기 ~ 3분기 당기순이익의 합은 2020년 3분기 손익계산서에서 'thstrm_add_amount' 값을 가져오면 되고
# 2019년 4분기 당기순이익은 2019년 전체 당기순이익에서 2019년 1분기 ~ 3분기 당기순이익의 합을 빼서 구할 수 있음
profit_2020_1Q = int(fs_2020_1Q.loc[fs_2020_1Q['sj_div'].isin(['IS']) & fs_2020_1Q['account_id'].isin(['ifrs-full_ProfitLossAttributableToOwnersOfParent']), 'frmtrm_add_amount'].replace(",", "")) # 당기순이익
profit_2020 = int(fs_2020.loc[fs_2019['sj_div'].isin(['IS']) & fs_2020['account_id'].isin(['ifrs-full_ProfitLossAttributableToOwnersOfParent']), 'thstrm_amount'].replace(",", "")) # 당기순이익
profit_2021_1Q = int(fs_2021_1Q.loc[fs_2021_1Q['sj_div'].isin(['IS']) & fs_2021_1Q['account_id'].isin(['ifrs-full_ProfitLossAttributableToOwnersOfParent']), 'thstrm_add_amount'].replace(",", "")) # 당기순이익
profit = (profit_2020-profit_2020_1Q) + profit_2021_1Q
profit

28076142000000

In [44]:
small = dart.report('005930', '소액주주', 2021, reprt_code=11013)
small

,rcept_no,corp_cls,corp_code,corp_name,se,shrholdr_co,shrholdr_tot_co,shrholdr_rate,hold_stock_co,stock_tot_co,hold_stock_rate
0,20210517001185,Y,00126380,삼성전자,소액주주,"3,867,960","3,868,074",99.99%,"3,855,845,827","5,969,782,550",64.59%

In [45]:
stock_tot_co = int(small['stock_tot_co'].str.replace(',', ''))
stock_tot_co

5969782550

In [2]:
from datetime import datetime
import numpy as np
import pandas as pd

def marcap_data(start, end=None, code=None):
    '''
    지정한 기간 데이터 가져오기
    :param datetime start: 시작일
    :param datetime end: 종료일 (지정하지 않으면 시작일과 동일)
    :param str code: 종목코드 (지정하지 않으면 모든 종목)
    :return: DataFrame
    '''
    start = pd.to_datetime(start)
    end = start if end==None else pd.to_datetime(end)
    df_list = []

#     dtypes={'Code':str, 'Name':str, 
#             'Open':int, 'High':int, 'Low':int, 'Close':int, 'Volume':int, 'Amount':int,
#             'Changes':int, 'ChangeCode':str, 'ChagesRatio':float, 'Marcap':int, 'Stocks':int,
#             'MarketId':str, 'Market':str, 'Dept':str,
#             'Rank':int}

# Amount, Marcap을 int 타입으로 변환할 수 없다는 에러메시지 발생

    dtypes={'Code':str, 'Name':str, 
            'Open':int, 'High':int, 'Low':int, 'Close':int, 'Volume':int, 'Amount':float,
            'Changes':int, 'ChangeCode':str, 'ChagesRatio':float, 'Marcap':float, 'Stocks':int,
            'MarketId':str, 'Market':str, 'Dept':str,
            'Rank':int}

    for year in range(start.year, end.year + 1):
        try:
            csv_file = 'C:/Users/gokki/anaconda3/Lib/site-packages/marcap/data/marcap-%s.csv.gz' % (year)
            df = pd.read_csv(csv_file, dtype=dtypes, parse_dates=['Date'])
            df_list.append(df)
        except Exception as e:
            print(e)
            pass
    df_merged = pd.concat(df_list)
    df_merged = df_merged[(start <= df_merged['Date']) & (df_merged['Date'] <= end)]  
    df_merged = df_merged.sort_values(['Date','Rank'])
    if code:
        df_merged = df_merged[code == df_merged['Code']]  
    df_merged.set_index('Date', inplace=True)
    return df_merged[df_merged['Volume'] > 0]
# 삼성전자
df_005930 = marcap_data('2021-01-04', code='005930')
df_005930 = df_005930.assign(Amount=df_005930['Amount'].astype('int64'),
                             Marcap=df_005930['Marcap'].astype('int64'))
df_005930

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Rank
Date,,,,,,,,,,,,,,,,,
2021-01-04,005930,삼성전자,KOSPI,NaN,83000,1,2000,2.47,81000,84400,80200,38655276,3185356823460,495491951650000,1674815254,STK,1

In [49]:
df_005930['Stocks'].iat[0]

1674815254

In [50]:
# 시가총액/종가 로 계산하면 맞게 나옴
stocks_005930 = int(df_005930['Marcap']/df_005930['Close'])
stocks_005930

5969782550

In [51]:
# 삼성전자우
df_005935 = marcap_data('2021-01-04', code='005935')
df_005935 = df_005935.assign(Amount=df_005935['Amount'].astype('int64'),
                             Marcap=df_005935['Marcap'].astype('int64'))
df_005935

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Rank
Date,,,,,,,,,,,,,,,,,
2021-01-04,005935,삼성전자우,KOSPI,NaN,74400,1,800,1.09,73700,75300,73600,5455139,405685236800,61222770480000,822886700,STK,4

In [52]:
df_005935['Stocks'].iat[0]

822886700

In [53]:
stocks_005935 = int(df_005935['Marcap']/df_005935['Close'])
stocks_005935

822886700

In [54]:
total_stocks = stocks_005930 + stocks_005935
total_stocks

6792669250

## 4. 지표계산

In [55]:
EPS = profit/total_stocks
PER = df_005930['Close'].iat[0]/EPS
print('EPS: {}, PER: {}'.format(int(round(EPS)), round(PER, 2)))

EPS: 4133, PER: 20.08

In [56]:
BPS = equity/total_stocks
PBR = df_005930['Close'].iat[0]/BPS
print('BPS: {}, PBR: {}'.format(int(round(BPS)), round(PBR, 2)))

BPS: 40377, PBR: 2.06

In [57]:
ROE = PBR/PER
ROA = profit/assets
print('ROE: {}%, ROA: {}%'.format(round(ROE*100, 2), round(ROA*100, 2)))

ROE: 10.24%, ROA: 10.16%

## 2021년 1분기

In [12]:
def func(year, name):
    dtypes={'Code':str, 'Name':str, 
                'Open':int, 'High':int, 'Low':int, 'Close':int, 'Volume':int, 'Amount':float,
                'Changes':int, 'ChangeCode':str, 'ChagesRatio':float, 'Marcap':float, 'Stocks':int,
                'MarketId':str, 'Market':str, 'Dept':str,
                'Rank':int}
    csv_file = 'C:/Users/gokki/anaconda3/Lib/site-packages/marcap/data/marcap-%s.csv.gz' % (year)
    df = pd.read_csv(csv_file, dtype=dtypes, parse_dates=['Date'])
    df_sam = df[df['Name']==name]
    df_sam.index = list(range(1, len(df_sam)+1))
    df_samW = df[df['Name']=='삼성전자우']
    df_samW.index = list(range(1, len(df_samW)+1))
    df_samW.drop(df_samW.columns[-1], axis=1, inplace=True)
    df_sam = pd.concat([df_sam, df_samW], axis=1)
    return df_sam

C:\Users\gokki\anaconda3\lib\site-packages\pandas\core\frame.py:4157: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,...,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Rank
1,005930,삼성전자,KOSPI,NaN,83000,1,2000,2.47,81000,84400,...,1.09,73700,75300,73600,5455139,4.056852e+11,6.122277e+13,822886700,STK,4
2,005930,삼성전자,KOSPI,NaN,83900,1,900,1.08,81600,83900,...,0.81,73600,75000,73600,3870698,2.876986e+11,6.171650e+13,822886700,STK,4
3,005930,삼성전자,KOSPI,NaN,82200,2,-1700,-2.03,83300,84500,...,-0.93,75000,75600,74200,4103763,3.066132e+11,6.114048e+13,822886700,STK,4
4,005930,삼성전자,KOSPI,NaN,82900,1,700,0.85,82800,84200,...,0.00,74400,74800,74300,3858695,2.875076e+11,6.114048e+13,822886700,STK,4
5,005930,삼성전자,KOSPI,NaN,88800,1,5900,7.12,83300,90000,...,4.71,74700,80000,74300,8225064,6.248917e+11,6.402059e+13,822886700,STK,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,005930,삼성전자,KOSPI,NaN,78500,2,-500,-0.63,78900,78900,...,-0.69,72100,72700,72100,1258118,9.095706e+10,5.933013e+13,822886700,STK,6
146,005930,삼성전자,KOSPI,NaN,79300,1,800,1.02,79200,79500,...,1.39,72700,73100,72300,909786,6.602006e+10,6.015302e+13,822886700,STK,7
147,005930,삼성전자,KOSPI,NaN,81400,1,2100,2.65,79400,81400,...,1.50,73300,74200,73000,1622106,1.197139e+11,6.105819e+13,822886700,STK,5
148,005930,삼성전자,KOSPI,NaN,82900,1,1500,1.84,82200,83100,...,1.08,74800,75000,74400,1668542,1.248548e+11,6.171650e+13,822886700,STK,5
149,005930,삼성전자,KOSPI,NaN,82100,2,-800,-0.97,83300,83300,...,0.27,75300,75400,74500,1297891,9.727037e+10,6.188108e+13,822886700,STK,5

In [14]:
# 삼성전자 올해 
mask = df_sam['Date'] < '2021-04-01'
df_sam_1 = df_sam.loc[mask]
df_sam_1
df = func(df_sum)

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,...,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Rank
1,005930,삼성전자,KOSPI,NaN,83000,1,2000,2.47,81000,84400,...,1.09,73700,75300,73600,5455139,4.056852e+11,6.122277e+13,822886700,STK,4
2,005930,삼성전자,KOSPI,NaN,83900,1,900,1.08,81600,83900,...,0.81,73600,75000,73600,3870698,2.876986e+11,6.171650e+13,822886700,STK,4
3,005930,삼성전자,KOSPI,NaN,82200,2,-1700,-2.03,83300,84500,...,-0.93,75000,75600,74200,4103763,3.066132e+11,6.114048e+13,822886700,STK,4
4,005930,삼성전자,KOSPI,NaN,82900,1,700,0.85,82800,84200,...,0.00,74400,74800,74300,3858695,2.875076e+11,6.114048e+13,822886700,STK,4
5,005930,삼성전자,KOSPI,NaN,88800,1,5900,7.12,83300,90000,...,4.71,74700,80000,74300,8225064,6.248917e+11,6.402059e+13,822886700,STK,4
6,005930,삼성전자,KOSPI,NaN,91000,1,2200,2.48,90000,96800,...,4.11,79000,86800,79000,12293635,1.014454e+12,6.665382e+13,822886700,STK,4
7,005930,삼성전자,KOSPI,NaN,90600,2,-400,-0.44,90300,91400,...,-1.23,79200,81000,78400,7552741,5.997674e+11,6.583094e+13,822886700,STK,4
8,005930,삼성전자,KOSPI,NaN,89700,2,-900,-0.99,89800,91200,...,-1.75,79000,80300,78500,5819050,4.594498e+11,6.467889e+13,822886700,STK,4
9,005930,삼성전자,KOSPI,NaN,89700,3,0,0.00,88700,90000,...,0.25,78800,79100,78400,2243911,1.766005e+11,6.484347e+13,822886700,STK,4
10,005930,삼성전자,KOSPI,NaN,88000,2,-1700,-1.90,89800,91800,...,-1.52,79300,80100,77600,3152097,2.470588e+11,6.385601e+13,822886700,STK,4
11,005930,삼성전자,KOSPI,NaN,85000,2,-3000,-3.41,86600,87300,...,-3.87,76100,76600,74000,6686244,5.035665e+11,6.138735e+13,822886700,STK,4
12,005930,삼성전자,KOSPI,NaN,87000,1,2000,2.35,84500,88000,...,2.41,73800,76600,72300,6559458,4.911042e+11,6.286854e+13,822886700,STK,4
13,005930,삼성전자,KOSPI,NaN,87200,1,200,0.23,89000,89000,...,0.52,78900,78900,76600,3008651,2.331647e+11,6.319770e+13,822886700,STK,4
14,005930,삼성전자,KOSPI,NaN,88100,1,900,1.03,87500,88600,...,1.04,77500,77800,76800,2512634,1.943609e+11,6.385601e+13,822886700,STK,4
15,005930,삼성전자,KOSPI,NaN,86800,2,-1300,-1.48,89000,89700,...,0.00,79000,79400,77600,3026828,2.370247e+11,6.385601e+13,822886700,STK,4
16,005930,삼성전자,KOSPI,NaN,89400,1,2600,3.00,87000,89900,...,2.06,77700,79400,76900,3012346,2.359092e+11,6.517263e+13,822886700,STK,4
17,005930,삼성전자,KOSPI,NaN,86700,2,-2700,-3.02,88800,89200,...,-1.39,79500,79600,77700,2819413,2.208717e+11,6.426745e+13,822886700,STK,4
18,005930,삼성전자,KOSPI,NaN,85600,2,-1100,-1.27,86600,87700,...,-1.02,77500,78100,77100,3121351,2.419221e+11,6.360914e+13,822886700,STK,4
19,005930,삼성전자,KOSPI,NaN,83700,2,-1900,-2.22,83200,85600,...,-2.20,75800,76700,75100,4172917,3.158198e+11,6.221023e+13,822886700,STK,4
20,005930,삼성전자,KOSPI,NaN,82000,2,-1700,-2.03,84500,85000,...,-3.31,75900,76300,73000,5836118,4.339850e+11,6.015302e+13,822886700,STK,4
21,005930,삼성전자,KOSPI,NaN,83000,1,1000,1.22,81700,83400,...,0.27,72600,73800,71100,4549858,3.316228e+11,6.031760e+13,822886700,STK,4
22,005930,삼성전자,KOSPI,NaN,84400,1,1400,1.69,84100,86400,...,1.64,74800,75900,74200,2844396,2.131483e+11,6.130506e+13,822886700,STK,4
23,005930,삼성전자,KOSPI,NaN,84600,1,200,0.24,84800,85400,...,-0.40,74900,75300,74100,2576016,1.917167e+11,6.105819e+13,822886700,STK,4
24,005930,삼성전자,KOSPI,NaN,82500,2,-2100,-2.48,83500,83800,...,0.13,73800,74300,73300,2673089,1.970082e+11,6.114048e+13,822886700,STK,4
25,005930,삼성전자,KOSPI,NaN,83500,1,1000,1.21,83100,84000,...,0.00,74300,74600,73500,1888750,1.399043e+11,6.114048e+13,822886700,STK,4
26,005930,삼성전자,KOSPI,NaN,83000,2,-500,-0.60,83800,84200,...,-0.40,74100,74400,73500,1609354,1.191464e+11,6.089362e+13,822886700,STK,4
27,005930,삼성전자,KOSPI,NaN,82700,2,-300,-0.36,84000,84800,...,0.00,75000,75200,73800,1388143,1.033426e+11,6.089362e+13,822886700,STK,4
28,005930,삼성전자,KOSPI,NaN,81600,2,-1100,-1.33,82600,82600,...,0.41,74000,74300,73300,1688741,1.244940e+11,6.114048e+13,822886700,STK,4
29,005930,삼성전자,KOSPI,NaN,84200,1,2600,3.19,83800,84500,...,1.62,75600,75800,75000,2534733,1.912136e+11,6.212795e+13,822886700,STK,5
30,005930,삼성전자,KOSPI,NaN,84900,1,700,0.83,84500,86000,...,0.93,75900,76700,75700,1604633,1.221640e+11,6.270397e+13,822886700,STK,5
31,005930,삼성전자,KOSPI,NaN,83200,2,-1700,-2.00,83900,84200,...,-1.84,76200,76300,74800,1847266,1.387308e+11,6.155193e+13,822886700,STK,5
32,005930,삼성전자,KOSPI,NaN,82100,2,-1100,-1.32,83200,83600,...,-1.07,74700,75300,74000,1861420,1.383506e+11,6.089362e+13,822886700,STK,5
33,005930,삼성전자,KOSPI,NaN,82600,1,500,0.61,82300,82800,...,2.03,74000,75500,73400,1864484,1.383463e+11,6.212795e+13,822886700,STK,5
34,005930,삼성전자,KOSPI,NaN,82200,2,-400,-0.48,83800,84200,...,-1.85,75800,75900,74100,2441700,1.830822e+11,6.097590e+13,822886700,STK,5
35,005930,삼성전자,KOSPI,NaN,82000,2,-200,-0.24,81200,82900,...,-1.21,73300,73800,73000,2568862,1.883094e+11,6.023531e+13,822886700,STK,5
36,005930,삼성전자,KOSPI,NaN,82000,3,0,0.00,81800,83600,...,-0.68,73100,73900,72500,2812440,2.053301e+11,5.982386e+13,822886700,STK,5
37,005930,삼성전자,KOSPI,NaN,85300,1,3300,4.02,84000,85400,...,1.93,73900,74300,73200,3337892,2.458965e+11,6.097590e+13,822886700,STK,5
38,005930,삼성전자,KOSPI,NaN,82500,2,-2800,-3.28,82800,83400,...,-1.75,72700,73100,72500,3602803,2.622072e+11,5.990615e+13,822886700,STK,4
39,005930,삼성전자,KOSPI,NaN,83600,1,1100,1.33,85100,85300,...,0.41,74200,74400,73000,2939705,2.167801e+11,6.015302e+13,822886700,STK,5
40,005930,삼성전자,KOSPI,NaN,84000,1,400,0.48,83500,84000,...,1.09,73300,73900,72600,1435952,1.054646e+11,6.081133e+13,822886700,STK,5
41,005930,삼성전자,KOSPI,NaN,82400,2,-1600,-1.90,82600,83200,...,-1.08,73500,73800,73100,1654441,1.214939e+11,6.015302e+13,822886700,STK,5
42,005930,삼성전자,KOSPI,NaN,82100,2,-300,-0.36,81100,82600,...,-1.23,72500,72700,72000,2722120,1.968090e+11,5.941242e+13,822886700,STK,5
43,005930,삼성전자,KOSPI,NaN,82000,2,-100,-0.12,82900,83000,...,0.28,72900,73000,72300,1209702,8.767685e+10,5.957700e+13,822886700,STK,5
44,005930,삼성전자,KOSPI,NaN,81400,2,-600,-0.73,81400,81900,...,0.14,72000,72500,71100,1993027,1.428643e+11,5.965929e+13,822886700,STK,4
45,005930,삼성전자,KOSPI,NaN,80900,2,-500,-0.61,82400,82500,...,-0.83,73200,73300,71800,1568800,1.134129e+11,5.916555e+13,822886700,STK,5
46,005930,삼성전자,KOSPI,NaN,82000,1,1100,1.36,81000,82500,...,0.83,72000,72700,72000,1667660,1.207697e+11,5.965929e+13,822886700,STK,5
47,005930,삼성전자,KOSPI,NaN,82800,1,800,0.98,83100,83500,...,0.41,73100,73400,72700,1161650,8.472782e+10,5.990615e+13,822886700,STK,5
48,005930,삼성전자,KOSPI,NaN,81800,2,-1000,-1.21,82800,82900,...,0.41,72800,73100,72600,1301331,9.492341e+10,6.015302e+13,822886700,STK,5
49,005930,삼성전자,KOSPI,NaN,82800,1,1000,1.22,82200,83000,...,0.96,73200,73800,73200,1121586,8.239187e+10,6.072904e+13,822886700,STK,5
50,005930,삼성전자,KOSPI,NaN,82300,2,-500,-0.60,82800,82900,...,-0.41,74200,74200,73500,1128585,8.311098e+10,6.048217e+13,822886700,STK,5
51,005930,삼성전자,KOSPI,NaN,82900,1,600,0.73,82800,83800,...,0.14,73700,74200,73600,1291906,9.546258e+10,6.056446e+13,822886700,STK,5
52,005930,삼성전자,KOSPI,NaN,81900,2,-1000,-1.21,82100,82500,...,-1.22,73100,73500,72700,2024053,1.477407e+11,5.982386e+13,822886700,STK,4
53,005930,삼성전자,KOSPI,NaN,82000,1,100,0.12,82000,82300,...,0.83,73100,73600,73000,1212435,8.892530e+10,6.031760e+13,822886700,STK,4
54,005930,삼성전자,KOSPI,NaN,81800,2,-200,-0.24,82600,82900,...,0.00,73700,74100,73300,1192438,8.769831e+10,6.031760e+13,822886700,STK,4
55,005930,삼성전자,KOSPI,NaN,81000,2,-800,-0.98,81000,81600,...,-0.55,72900,73300,72500,1735347,1.266200e+11,5.998844e+13,822886700,STK,4
56,005930,삼성전자,KOSPI,NaN,81200,1,200,0.25,81000,82100,...,0.69,73000,73600,72900,895347,6.562017e+10,6.039988e+13,822886700,STK,4
57,005930,삼성전자,KOSPI,NaN,81500,1,300,0.37,81400,81600,...,0.54,73800,73800,73400,1252821,9.220997e+10,6.072904e+13,822886700,STK,4
58,005930,삼성전자,KOSPI,NaN,81600,1,100,0.12,81700,81700,...,0.41,74100,74300,73800,1648691,1.219489e+11,6.097590e+13,822886700,STK,4
59,005930,삼성전자,KOSPI,NaN,82200,1,600,0.74,81600,82300,...,-0.13,73700,74000,73500,1237145,9.132870e+10,6.089362e+13,822886700,STK,4
60,005930,삼성전자,KOSPI,NaN,81400,2,-800,-0.97,82400,82700,...,-1.35,74000,74000,73000,1867419,1.371904e+11,6.007073e+13,822886700,STK,4

In [ ]:
## 이렇게 하면 됨 - 분기 - 그 분기의 날짜를 구함 - 그 다음 옆에다가 쭉 붙임 그러면 분기별로 쭉 그 PBR이나 이런게 붙게 됨
## 일단 삼성의 2020년이라도 완성을 해보자 
## 분기를 날짜별로 잘라야 함
## 공시가 나온 거는 그 리포트의 이름에서 빼와서 그걸 나온 시점을 값으로 넣어주자 !